
h1{
    background-color: bisque;
    color: blueviolet;
}

div{
    background-color:rgb(218, 148, 185);
    height: 70px;
    width: 70px;
    /* border-radius: 20px; */
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 25px;
    margin: 25px;
}