div{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: rgb(147, 106, 170);
    border: 2px solid black;
   }
   #Box1{
    border-radius: 5px;
    background-size: cover;
    background-image: url(pexels-sevenstormphotography-381739.jpg);
   }
    #Box3{
    border-radius: 5px;
    position: relative;
    background-size: cover;
    background-image: url(pexels-sevenstormphotography-381739.jpg);
   }
    #Box2{
     border-radius: 5px;    
    position: relative;
    background-size: cover;
    background-image: url(pexels-sevenstormphotography-381739.jpg);
   }
   body{
    background-size: cover;
        background-image: url(istockphoto-1484902508-612x612.jpg);
   }
   h1{
    text-align: center;
    color: rgb(8, 2, 26);
   }